<table class="installtable">
  {{- if or (.Get "ubuntu") (.Get "ubuntuCommand") -}}
  <tr>
    <td>
      <a {{ with .Get "ubuntu" }}href="https://packages.ubuntu.com/search?keywords={{ index (split . " ") 0 }}"{{ end }}><img src="/distro/kubuntu.svg" />Kubuntu</a><a {{ with .Get "ubuntu" }}href="https://build.neon.kde.org/search/?q={{ index (split . " ") 0 }}"{{ end }}><img src="/distro/kdeneon.svg" />KDE Neon</a>
    </td>
    <td>
<pre>
{{- with .Get "ubuntu" }}sudo apt install {{ . }}{{ end }}
{{ with .Get "ubuntuCommand" }}{{ . }}{{ end -}}
</pre>
    </td>
  </tr>
  {{- end -}}
  {{- if or (.Get "arch") (.Get "archCommand") -}}
  <tr>
    <td>
      <a {{ with .Get "arch" }}href="https://software.manjaro.org/package/{{ index (split . " ") 0 }}"{{ end }}><img src="/distro/manjaro.svg" />Manjaro</a><a {{ with .Get "arch" }}href="https://archlinux.org/packages/?q={{ index (split . " ") 0 }}"{{ end }}><img src="/distro/archlinux.svg" />Arch</a>
    </td>
    <td>
<pre>
{{- with .Get "arch" }}sudo pacman -S {{ . }}{{ end }}
{{ with .Get "archCommand" }}{{ . }}{{ end -}}
</pre>
    </td>
  </tr>
  {{- end -}}
  {{- if or (.Get "opensuse") (.Get "opensuseCommand") -}}
  <tr>
    <td>
      <a {{ with .Get "opensuse" }}href="https://software.opensuse.org/package/{{ index (split . " ") 0 }}"{{ end }}><img src="/distro/opensuse.svg" />OpenSUSE</a>
    </td>
    <td>
<pre>
{{- with .Get "opensuse" }}sudo zypper install {{ . }}{{ end }}
{{ with .Get "opensuseCommand" }}{{ . }}{{ end -}}
</pre>
    </td>
  </tr>
  {{- end -}}
  {{- if or (.Get "fedora") (.Get "fedoraCommand") -}}
  <tr>
    <td>
      <a {{ with .Get "fedora" }}{{ with index (split . " ") 0 }}href="https://packages.fedoraproject.org/pkgs/{{ . }}/{{ . }}/"{{ end }}{{ end }}><img src="/distro/fedora.svg" />Fedora</a>
    </td>
    <td>
<pre>
{{- with .Get "fedora" }}sudo dnf install {{ . }}{{ end }}
{{ with .Get "fedoraCommand" }}{{ . }}{{ end -}}
</pre>
    </td>
  </tr>
  {{- end -}}
  {{- if or (.Get "gentoo") (.Get "gentooCommand") -}}
  <tr>
    <td>
      <a {{ with .Get "gentoo" }}href="https://packages.gentoo.org/packages/{{ index (split . " ") 0 }}"{{ end }}><img src="/distro/gentoo.svg" />Gentoo</a>
    </td>
    <td>
<pre>
{{- with .Get "gentoo" }}sudo emerge --ask {{ . }}{{ end }}
{{ with .Get "gentooCommand" }}{{ . }}{{ end -}}
</pre>
    </td>
  </tr>
  {{- end -}}
</table>
